.App-bg-container {
    position: relative;
    margin: 0;
}
.App-bg {
    padding: 0;
    margin: 0;
    border-bottom: #2f5572, solid, 0.6rem;

}
.App-bg-container img {
    display: block;
    width: 100%;        
    height: 30rem;
    margin: 0;
    padding: 0;
    border-bottom: #2f5572 solid 0.6rem;

}

