.pokemonlist {
    margin-top: 20px;
}

.list{
    text-align: center;
    list-style: none;
    width: 40%;
    margin: 0 auto 0 auto;
}

.list li {
    margin: 7px auto 7px auto;
}

.list a {
    text-decoration: none;
    text-transform: uppercase;
}

.page-button {
    text-align: center;
    margin: 30px auto 20px auto;
    text-decoration: none;
    height: 10vh;
    width: 20%;
}

.page-nav {
    width: 50%;
    height: 4.5vh;
    background-color: rgb(80, 204, 235);
    margin: 0 7px 7px 7px;
    text-decoration: none;
}

.page-nav{
    color: rgb(81, 5, 83);
    text-emphasis: bold;
    text-decoration: none;
}

.page-nav:hover {
    border-radius: 21px;
    cursor: pointer;
    color: rgb(153, 32, 113);
    background-color: rgb(77, 194, 116);
}